<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988266955642-nj9lomu09noq35kvg7m9qial8vcp7be4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988266955642-nj9lomu09noq35kvg7m9qial8vcp7be4</string>
	<key>API_KEY</key>
	<string>AIzaSyBOZxvcQiVfpAWe_5Lz4T9xGqFeMJZvwpk</string>
	<key>GCM_SENDER_ID</key>
	<string>988266955642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ogGram</string>
	<key>PROJECT_ID</key>
	<string>og-gram-imrul</string>
	<key>STORAGE_BUCKET</key>
	<string>og-gram-imrul.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988266955642:ios:1efdfaa1a44d5efcdf4cc3</string>
</dict>
</plist>